%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area
    %li.name
      %h1
        = link_to "на главную", root_path
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    %ul.right
      %li
        = link_to "Все объявления", root_path
      - if user_signed_in?
        %li.has-dropdown
          = link_to "Личный кабинет"
          %ul.dropdown
            %li
              = link_to "Настройки", edit_user_registration_path
            %li
              = link_to "Подать объявление", new_estate_path
            %li  
              = link_to "Мои объявления", my_estates_path
            %li.divider
            %li
              = link_to "выход(#{current_user.email})", destroy_user_session_path, :method => :delete
      - else
        %li
          = link_to "Войти", new_user_session_path
        %li
          = link_to "Регистрация", new_user_registration_path          

